
main{
    background: var(--color-background-6);
}
.blog__container{
    max-width: 1280px;
    margin: 80px auto 0 auto;
}
.blog__header{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-background-29);
    margin-bottom: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.blog__header ion-icon{
    font-size: 2.2rem;
    color: var(--color-background-28);
    font-weight: 600;
    display: none;
}
.blog__content{
    display: flex;
    justify-content: space-between;
}
.blog__content--main{
    width: 68%;
}
.blog__content--suggest{
    width: 30%;
}
.blog__header p{
    color: var(--color-background-27);
    font-size: 1.8rem;
    font-weight: 800;
}
.blog__content--list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, .333333fr));
    gap: 15px;
}
.blog__content--list__item{
    position: relative;
    border-radius: var(--border-radius-size-5);
    overflow: hidden;
    background: var(--color-background-12);
}
.blog__content--list__item-view{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.7rem;
    color: var(--color-background-6);
    cursor: pointer;
    opacity: 0;
}
.blog__content--list__item:hover .blog__content--list__item-view{
    opacity: 1;
}

.blog__content--list__item a img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.blog__content--list__item--text{
    padding: 25px;
}
.blog__content--list__item--date{
    color: var(--color-background-28);
    font-size: .85rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.blog__content--list__item--date a{
    color: var(--color-background-28);
}
.blog__content--list__item--date p{
    display: flex;
    gap: 10px;
}
.blog__content--list__item--text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog__content--list__item--title{
    color: var(--color-background-27);
    font-weight: 700;
    display: block;
    display: -webkit-box;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.blog__content--list__item--description{
    color: var(--color-background-2);
    font-size: .9rem;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog__content--list__item--readmore a{
    color: var(--color-background-27);
    font-weight: 600;
}
.blog__content--list__item--category .post-categories{
    display: flex;
    gap: 20px;
}
.blog__content--list__item--category .post-categories li{
    position: relative;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-background-2);
}
.blog__content--list__item--category .post-categories li::before{
    position: absolute;
    content: '|';
    right: -10px;
    bottom: 0;
}
.blog__content--list__item--category .post-categories li:last-child:before{
    display: none;
}
.blog__content--pagination{
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog__content--pagination__list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.blog__content--pagination__item a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-background-12);
    font-weight: 600;
    color: var(--color-background-10);
}
.blog__content--list__item{
    transition: all .2s ease;
}
.blog__content--list__item:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    scale: 1.015;
}
.blog__content--pagination__item a ion-icon{
    font-size: 1.3rem;
}
.blog__content--contact{
    display: flex;
    flex-direction: column;
    background: var(--color-background-29);
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}
.blog__content--contact_note{
    font-size: 1.2rem;
    color: var(--color-background-27);
    font-weight: 600;
}
.blog__content--contact_text{
    color: var(--color-background-2);
    font-size: .85rem;
}
.blog__content--contact__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog__content--contact__form button,
.blog__content--contact__form input{
    border-radius: 10px;
    padding: 12px 15px;
    color: var(--color-background-2);
    font-size: .9rem;
    font-weight: 500;
}
.blog__content--contact__form button ion-icon,
.blog__content--contact__form button{
    color: var(--color-background-6);
    background: var(--color-background-28);
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.blog__content--suggest{
    position: sticky;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog__content--suggest::-webkit-scrollbar {
    display: none;
  }

.blog__content--recomend__list,
.blog__content--category__container,
.blog__content--recomend,
.blog__content--category{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blog__content--recomend__header,
.blog__content--category__header{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-background-29);
    margin-bottom: 20px;
}
.blog__content--recomend__header p,
.blog__content--category__header p{
    color: var(--color-background-27);
    font-size: 1.5rem;
    font-weight: 800;
}

.blog__content--category__list{
    width: 100%;
    padding-bottom: 5px;
 
}
.blog__content--category__list li{
    text-wrap: nowrap;
}
.blog__content--category__list p a{
    font-weight: 600;
    padding: 5px;
    color: var(--color-background-27);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.blog__content--category__list p{
    padding-bottom: 7px;
}
.blog__content--category__list ul li a{
    font-weight: 500;
    padding: 4px 15px;
    color: var(--color-background-27);
    font-size: 1rem;
    margin-left: 10px;
    width: 100%;
    background: var(--color-background-29);
    border-radius: 10px;
}
.blog__content--category__list ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.blog__content--category__list p a:hover,
.blog__content--category__list ul li a:hover{
    background: var(--color-background-12);
}
.blog__content--category__container{
    gap: 20px;
    align-items: start;
}
.blog__content--recomend--item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.blog__content--recomend--item:hover{
    background: var(--color-background-29);
}
.blog__content--recomend--item img{
    width: 25%;
    border-radius: 10px;
}
.blog__content--recomend--item__text{
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog__content--recomend__list{
    gap: 10px;
}
.blog__content--recomend--item__category{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-background-28);
}
.blog__content--recomend--item__description{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-background-27);
}
.blog__content--category:nth-child(3){
    position: fixed;
    width: 100%;
    top: 53px;
    right: -100%;
    background: var(--color-background-6);
    height: 100vh;
    padding: 20px;
    transition: all .2s ease-in;
}
body.categoryMobileBlog{
    overflow: hidden;
}
body.categoryMobileBlog .blog__content--category:nth-child(3){
    right:0;
}
.blog__content--category:nth-child(3) .blog__content--category__header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.blog__content--category:nth-child(3) .blog__content--category__header p{
    font-size: 1.6rem;
}
.blog__content--category:nth-child(3) .blog__content--category__header ion-icon{
    font-size: 3rem;
}
.blog__content--category:nth-child(3) .blog__content--category__list ul li a{
    font-size: 1.2rem;
    padding: 6px 17px;
    font-weight: 500;
}
.blog__content--list__item--not{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog__content--list__item--not p{
    position: relative;
    color: var(--color-background-27);
    background: var(--color-background-29);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 15px
}
.blog__content--list__item--not p::before{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--color-background-29);
    left: 20px;
    bottom: -9px;
}
.blog__content--recomend.tag .blog__content--recomend__list {
    flex-direction: row;
}
.blog__content--recomend.tag .blog__content--recomend__list a:hover{
    background: var(--color-background-12);
}
.blog__content--recomend.tag .blog__content--recomend__list a{
    font-size: 1.3rem;
    color: var(--color-background-27);
    background: var(--color-background-29);
    padding: 3px 15px;
    border-radius: 10px;
}
@media (max-width: 300px) {
    .blog__content--list{
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    }
}
@media (max-width: 500px) {

    .blog__content--suggest{
        width: 0%;
    }
    .blog__content--recomend,
    .blog__content--category:nth-child(2),
    .blog__content--contact_note,
    .blog__content--suggest .blog__content--contact{
        display: none;
    }
    .blog__content--recomend.tag {
        display: block;
    }
    .blog__content--main{
        width: 100%;
    }
    .blog__content--list{
        padding: 10px;
        grid-template-columns: repeat(auto-fit,minmax(200px, .5fr));
    }
    .blog__content--list__item img{
        height: 200px !important;
    }
    .blog__content--list__item--text{
        padding: 15px;
    }
    .blog__content--list__item--category p::before{
        right: -7px;
        content: '.';
    }
    .blog__content--list__item--category{
        gap: 10px;
    }
    .blog__content--list__item-view{
        font-size: 2rem;
    }
    .blog__header ion-icon{
        display: block;
    }
}