

.detail__blog{
    padding-top: 83px;
    width: 100%;
    background: var(--color-background-12);
}
.detail__blog--container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.detail__blog--main{
    width: 65%;
    background: var(--color-background-6);
    padding: 20px;
    border-radius: 20px;
}
.detail__blog--suggest{
    width: 34%;
    background: var(--color-background-6);
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    top:83px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.detail__blog--suggest__relative--list__not{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail__blog--suggest__relative--list__not p{
  position: relative;
  background: var(--color-background-29);
  color: var(--color-background-27);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 15px
}
.detail__blog--suggest::-webkit-scrollbar {
  display: none;
}
.detail__blog--main__content{
    width: 100%;
}
.detail__blog--main__img img,
.detail__blog--main__img{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.detail__blog--main__img img{
  border: .75px solid var(--color-background-33);
}
.detail__blog--main__info{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}
.detail__blog--main__time,
.detail__blog--main__category,
.detail__blog--main__category a{
    color: var(--color-background-28);
    font-weight: 600;
    font-size:1.3rem;
}
.detail__blog--main__title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-background-27);
}
.detail__blog--main__description{
    line-height: 1.35;
    color: var(--color-background-1);
}
.detail__blog--main__extra--tag,
.detail__blog--main__info,
.detail__blog--main__title,
.detail__blog--main__description{
    padding: 10px 0;
}
.detail__blog--main__extra{
    width: 100%;
}
.detail__blog--main__extra--tag{
    display: flex;
    gap: 10px;
}
.detail__blog--main__extra--tag a{
    font-size: 1.3rem;
    background: var(--color-background-33);
    padding: 5px 15px;
    border-radius: 7px;
    color: var(--color-background-6);
}
.detail__blog--main__extra--new{
    display: flex;
    width: 100%;
    padding-top: 10px;
}
.detail__blog--main__extra--new__item{
    width: 30%;
}

.detail__blog--suggest__follow,
.detail__blog--suggest__tag,
.detail__blog--suggest__relative,
.detail__blog--suggest__category{
    padding-bottom: 15px;
}
.detail__blog--suggest__follow--header,
.detail__blog--suggest__tag--header,
.detail__blog--suggest__relative--header,
.detail__blog--suggest__category--header{
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-background-29);
  margin-bottom: 20px;
}
.detail__blog--suggest__follow--header p,
.detail__blog--suggest__tag--header p,
.detail__blog--suggest__relative--header p,
.detail__blog--suggest__category--header p{
  color: var(--color-background-27);
  font-size: 1.5rem;
  font-weight: 800;
}
.detail__blog--suggest__relative--list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.detail__blog--suggest__relative--item{
    width: 100%;
    display: flex;
    gap: 10px;
}
.detail__blog--suggest__relative--item img{
    width: 30%;
    border-radius: 10px;
}
.detail__blog--suggest__relative--item p{
    width: 70%;
}
.detail__blog--suggest__category--header__item a{
    color: var(--color-background-1);
    font-weight: 500;
    padding: 5px;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.detail__blog--main__category .post-categories{
  display: flex;
  gap: 20px;
}
.detail__blog--main__category .post-categories li{
  position: relative;
  font-size: .9rem;
  font-weight: 600;
  color: var(--color-background-2);
}
.detail__blog--main__category .post-categories li::before{
  position: absolute;
  content: '/';
  right: -12px;
  bottom: 2px;
}
.detail__blog--main__category .post-categories li:last-child:before{
  display: none;
}
.detail__blog--suggest__category--header__sub{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.detail__blog--suggest__category--header__sub a{
    font-weight: 500;
}
.detail__blog--suggest__relative--item p{
    font-size: 1.6rem;
    color: var(--color-background-1);
    font-weight: 500;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.detail__blog--suggest__tag--list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.detail__blog--suggest__tag--list a{
    background: var(--color-background-12);
    padding: 3px 12px;
    border-radius: 5px;
    color: var(--color-background-2);
    font-size: 1.2rem;
}
.detail__blog--suggest__follow--list{
  display:flex ;
  gap: 10px;
}
.detail__blog--suggest__follow--list a{
  font-size: 2.2rem;
}

#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}
.carousel-inner{
    height: 235px;
}

.badge {
  background: var(--color-background-28);
  position: absolute;
  padding: 5px 15px;
  font-size: 1.5rem;
  font-weight: 500;
  top: 5px;
  right:19px;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
.carousel-control{
    bottom: 50%;
    top: unset;
}
.carousel-inner .item p{
    color: var(--color-background-27);
    font-weight: 600;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 10px 0;
}
.carousel-inner .item img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.detail__blog--main__description img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 500px) {
  .detail__blog--main{
    width: 100%;
    border-radius: 0;
    padding: 10px;
  }
  .detail__blog--suggest{
  display: none;
  }
  .detail__blog{
    padding-top: 53px;
  }
  .detail__blog--main__img img, .detail__blog--main__img {
    max-height: 300px;
  }
  .detail__blog--main__title{
    padding: 0;
  }
}


@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

#slider-control a ion-icon{
    font-size: 3rem;
    color: var(--color-background-1);
    background: var(--color-background-6);
    border-radius: 50%;
}
@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }

}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

