.detail__product--container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 70px;
}

.detail__product--navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.detail__product--navbar__title {
    width: 100%;
    text-align: center;
}

.detail__product--navbar__product {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

.detail__product--navbar__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 100px;
}


.detail__product--navbar__items--image {
    min-height: 254px
}

.detail__product--navbar__product--inf {
    max-height: 60px;
}

.detail__product--navbar__product--type,
.detail__product--navbar__product--desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 24px;
}
.detail__product--navbar__product--type{
    max-height: 20px;
}
.detail__product--navbar__product--desc{
    min-height: 40px;
}